* {
  box-sizing: border-box;

}

body {
  margin: 0;
  background-size: cover;
  background-image: url(./images/andreas-gucklhorn-mawU2PoJWfU-unsplash.jpg);
  background-repeat: no-repeat;
}

#nav-bar {
  background-color: black;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  height: 13%;
  position: fixed;
  font-size: 19;
  top: 0;
  box-shadow: 1px 1px 10px black;
}

#logo {
  width: 60%;
  margin-top: 16px;
  margin-left: 30px;
  margin-right: 2px;
  height: 50px;
}

#nav-div1 {
  display: flex;
  font-size: larger;
}

#nav-bar-items ul {
  display: inline-flex;
  list-style: none;
  cursor: pointer;
}

#down {
  color: #79ba43;
  position: relative;
  top: 2;
  left: 4px;
}

#nav-bar-items ul li {
  width: 150px;
  position: relative;
  top: -15;
  margin: 15px;
  padding: 15px;
}

#nav-bar-items ul li a {
  text-decoration: none;
  color: #79ba43;

}

.sub1 {
  display: none;
}

#nav-bar-items ul li:hover .sub1 {
  display: block;
  position: absolute;
  background-color: black;
  margin-top: 15px;
  margin-left: -15px;
}

#nav-bar-items ul li:hover .sub1 ul {
  display: block;
  margin: 10px;
  font-size: 19;
}

#nav-bar-items ul li:hover .sub1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px solid #79ba43;
  background: transparent;
  border-radius: 0;
  text-align: left;
  margin-left: -15px;
}

#nav-bar-items ul li:hover .sub1 ul li:last-child {
  border-bottom: none;
}

#nav-bar-items ul li:hover .sub1 ul li a:hover {
  color: #79ba43;
}

.search-box {
  position: fixed;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  background: #353535;
  line-height: 40px;
  padding: 10px;
  border-radius: 60px;
  cursor: pointer;
  margin-left: 15%;
  font-size: 18;
}

.search-input {
  background: #353535;
  color: #fff;
  outline: none;
  border: none;
  line-height: 40px;
  width: 0px;
  float: left;
  font-size: 1em;
  transition: 0.7s ease;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: #353535;
  padding: 12px;
  border-radius: 50%;
  float: right;
  color: #79ba43;
  transition: 0.4s ease;
}

.search-box:hover>.search-input,
.search-input:focus {
  width: 240px;
  margin: 0px 8px;
}

.search-box:hover>.search-btn,
.search-input:focus+.search-btn {
  background: #79ba43;
  color: #101010;
}


.lo {
  justify-content: center;
  color: #79ba43;
  font-size: 35;
  position: relative;
  top: -9;
  margin-left: 0;
  font-family: 'Kanit', sans-serif;
  letter-spacing: -3;
}

#reg-btn {
  position: fixed;
  right: 85;
  top: 8;
}

#btn-btn-reg {
  position: relative;
  top: 20px;
  float: right;
  font-size: 18;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #101010;
  display: inline-flex;
}

#btn-btn-reg:hover {
  background-color: #469b00;

}

#btn-btn-reg>a {
  text-decoration: none;
  color: white;
}

.main-section{
  margin-top: 6%;
  box-sizing: border-box;
}

#form-element{
  color: aliceblue;
  background-color: #353535;
  border-radius: 8px;
  height: 78%;
  box-shadow: 1px 1px 5px black;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 7%;
}

#heading{
  text-align: center;
  font-size: 40;
  padding: 1.1%;
  font-family: 'Oswald', sans-serif;
  border-bottom: 1px solid #ccc;
}

form p{
  text-align: center;
  margin-bottom: 1%;
}

#p-element{
  font-size: 30;
}

#flexbox{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

#flex-wrapper{
  padding: 10px;
}

#wrapper{
  width: 50%;
}

.form-class{
  flex-direction: column;
  width: 70%;
  padding: 9px;
  border: none;
  font-size: 19;
  outline: none;
  border-radius: 7px;
  height: 110%;
  margin-left: 15%;
}

#t-box{
  margin-left: 15%;
  outline: none;
  resize: none;
  padding: 6px;
  font-size: 19;
  border-radius: 7px;
}

#btn-element{
  margin-left: 35%;
  width: 30%;
  margin-bottom: 0;
  font-size: 19;
  padding: 5px;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #353535;
}

#btn-element:hover{
  background-color: #252424;
  color: white;
}
